
article{background: rgba(230,230,230,0.5);}
a{color:black;font-size: 14px;font-family: '微软雅黑'}
li{list-style-type: none;}
h1,h2,h3,h4,h5,h6{font-family: '微软雅黑';line-height: 60px;}
p,span{font-family: '微软雅黑'}
.clear{clear: both}