.nav li{float:left;}
nav{height:400px;background:url(../images/2.jpg)no-repeat center;}
header{}
#sousuo{ height:80px;width:450px; border-radius:5px;padding:20px;background: rgba(230,230,230,0.3);position: absolute;top:300px;}
#sousuo input{float: left;width: 300px;}
#sousuo label{float: left;font-family: '微软雅黑';line-height: 40px;font-size: 20px;}
.admin p{color:red;}
.latest{background: white;height: 30px;}
.propose_sight{background:#fff;height:350px;width: 1000px;}
.left{float: left;width: 1000px;}
.tab0{width: 204px;height:300px;float: left;margin-left:35px;border:2px solid #ccc;}
.travel_show{
	width: 1000px;
    height:300px;
    background:-webkit-gradient(linear, 0 0, 0 bottom,from(#6AD17E),to(rgba(31, 205, 170, 0.5)))}  
.travel{width:1000px;}
.season{float: left;margin:30px 0 0 40px;} 

.top_1{width:210px;height:280px;float: left;margin-left: 30px;border:2px solid #ccc;background: #fff;}
.admin{margin-left:50px; }
/*美食推荐*/
.foods{padding-top:30px; }
.summary{width:200px;background: rgba(230,230,230,0.5);float: left;}
.top_1:hover .summary{display: block;}
.tuijian{padding: 30px;height:400px;background: rgba(230,230,230,0.5); }
.photo{float: left;padding: 30px;}
.intro{float: left;padding: 30px;}
.right{float: right;width: 330px;height: 700px;background: #fff;margin: 30px 0 0 0;}
.foot{width:800px;margin:auto; margin-top:50px; }
.foot p{text-align:center;}
.btn btn-lg btn-primary {height: 30px;width: 200px;}